<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457957576977-js9b846h61906mrnsc5govs0fg40ls75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457957576977-js9b846h61906mrnsc5govs0fg40ls75</string>
	<key>API_KEY</key>
	<string>AIzaSyBg-Iv39AIuUgY08f9ow7B8ehn1jrW3ygc</string>
	<key>GCM_SENDER_ID</key>
	<string>457957576977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailylog</string>
	<key>PROJECT_ID</key>
	<string>diem-5a68c</string>
	<key>STORAGE_BUCKET</key>
	<string>diem-5a68c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457957576977:ios:70a47cd6ef56573ca53cb0</string>
</dict>
</plist>